.container {
  background-color: #FFF;
}

.header {
  background-color: #F9F9FB;
  padding: 50px 24px 30px 24px;
}

.headerTop {
  display: flex;
  justify-content: space-between;
  margin-bottom: 27px;
}

.headerTopLeft {

}

.headerTitle {
  font-size: 24px;
  font-weight: 500;
  color: #1B1B1B;
  margin-bottom: 8px;
}

.headerSubTittle {
  font-size: 14px;
  font-weight: 400;
  color: rgba(151, 151, 151, 0.8);
}

.headerTopRight {

}

.menuButton {
  width: 18px;
  height: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menuButtonLine {
  background-color: #FB9400;
  height: 2px;
}

.headerBottom {

}